.container {
    margin: 20px auto;
    padding-bottom: 1em;
    background-color: #e9e9e9;
    border-radius: 10px / 10px;
    width: 99.9%;
}

header {
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding-top: .5em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding-top: .5em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;    
}

img {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    width: 95%;
    aspect-ratio: 16 / 9;
}

figure {
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    padding: .5em 0 .5em 0;
    background-color: #f7f7f7;
}

figcaption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: .5em;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    padding: 0;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    margin: .5em auto;
    width: 80%;
    max-width: 600px;
    padding: 1.5em;
    background-color: #f7f7f7;
    border-radius: 60px / 60px;
    height: 2.4em;
}

.list-spacer {
    margin: 1em auto;
    padding: 3px;
    background-color: rgb(110, 110, 110);
    width: 3px;
    height: 3px;
    border-radius: 30px / 30px;
}
