.container {
    margin: auto;
    background-color: #e9e9e9;
    border-radius: 1%;
    width: 99.9%;
}

header {
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding-top: .5em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding-top: .5em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;    
}

img {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    aspect-ratio: 16 / 9;
}

figure {
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    padding: 1.5em 10px .5em 10px;
    background-color: #f7f7f7;
}

figcaption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: .5em;
}